.container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  
}

.logo{
    flex-direction: row;
    width: 220px;
    height: auto;
}

.section{
 text-align: center;

}



.form-container {
  width: 500px;
  margin: 40px auto;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 160px;
  font-size: 20px;
  font-weight: 600;
}

.form-group input {
  flex: 1;
  padding: 10px;
  font-size: 18px;
}

button {
  margin-top: 20px;
  padding: 12px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}



